<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Real-time Data from <%= title %></title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <style>
      .table tr{
        transition: all 0.5s ease;
      }
      .table tr.added{
        background-color: #2bca2b;
        color: #000000;
        transition: all 0.5s ease;
      }
      .table tr{
        text-align: center;
      }
    </style>
</head>
<body>
    <!-- Navigation Starts -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="thesis">Thesis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="graph">Graph</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>
    <!-- Navigation Ends -->

    <!-- Main Starts -->
    <main role="main" class="container">
    
        <div class="text-center">
          <br>
            <h1>Realtime Data from <%= title %></h1>
            <!-- <p class="lead">Data coming from <%= title %>
                <br> Show wahtever you want here!</p> -->
          <br>
        </div>
        <table class="table table-hover" id="main-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th align="center" scope="col">Data</th>
                    <!-- <th scope="col">Starting Byte</th>
                    <th scope="col">Message Type</th>
                    <th scope="col">Piksi ID</th>
                    <th scope="col">Length</th>
                    <th scope="col">Data</th>
                    <th scope="col">Checksum</th>
                    <th scope="col">Read Flag</th> -->
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i< tableData.length; i++) {%>
                    <tr>
                      <td>
                       <%= tableData[i].id %>
                      </td>
                      <!-- <td>
                       <%= tableData[i].frameD[0]%>
                       <%=tableData[i].frameD[1] %>
                      </td>
                      <td>
                       <% for(var j=3; j< 7; j++) {%>
                       <%= tableData[i].frameD[j]%>
                        <% } %>
                      </td>
                      <td>
                       <% for(var j=8; j< 14; j++) {%>
                       <%= tableData[i].frameD[j]%>
                        <% } %>
                      </td>
                      <td>
                       <% for(var j=15; j< 17; j++) {%>
                       <%= tableData[i].frameD[j]%>
                        <% } %>
                      </td>
                      <td>
                       <% for(var j=18; j< 50; j++) {%>
                       <%= tableData[i].frameD[j]%>
                        <% } %>
                      </td>
                      <td>
                       <% for(var j=51; j< 58; j++) {%>
                       <%= tableData[i].frameD[j]%>
                        <% } %>
                      </td> -->
                      <td>
                       <%= tableData[i].frameD %>
                      </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <!-- <h2>Graph</h2> -->
        <!-- <canvas id="myChart" width="400" height="200"></canvas> -->
    
    </main>
    <!-- Main Ends -->
    <!-- Javascript Assets: Add any dependencies here -->
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/Chart.bundle.min.js"></script>
    
    <!-- Write your scripts below -->
    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
    <script src="/assets/socket.io.js"></script>
    <script>
      var socket = io();
      socket.on('data-update', function(msg){
        console.log("data", msg.data);

        var newRow = "<tr class='added'>\
          <td>"+msg.data.id+"</td>\
          <td>"+msg.data.frameD+"</td>\
        </tr>";

        $("#main-table tbody").prepend(newRow);

        setTimeout(function () {
          $(".added").removeClass("added");
        }, 1000);
      });
    </script>
</body>
</html>