<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Real-time Data from <%= title %></title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <style>
      .table tr{
        transition: all 0.5s ease;
      }
      .table tr.added{
        background-color: #2bca2b;
        color: #000000;
        transition: all 0.5s ease;
      }
      .table tr{
        text-align: center;
      }
    </style>
</head>
<body>
    <!-- Navigation Starts -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="thesis">Thesis</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="graph">Frame Details</a>
                </li> -->
               <!--  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li> -->
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>
    <!-- Navigation Ends -->

    <!-- Main Starts -->
    <main role="main" class="container">
    
        <div class="text-center">
          <br>
            <h1>Realtime Data from <%= title %></h1>
            <!-- <p class="lead">Data coming from <%= title %>
                <br> Show wahtever you want here!</p> -->
          <br>
        </div>
        <table class="table table-hover" id="main-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Starting Byte</th>
                    <th scope="col">Message Type</th>
                    <th scope="col">Device ID</th>
                    <th scope="col">Length</th>
                    <th scope="col">Data</th>
                    <th scope="col">No. of Satellites</th>
                </tr>
            </thead>
            <tbody>
                <!-- <% //for(var i=0; i< tableData.length; i++) {%>
                    <tr>
                      <td>
                       <%= // tableData[i].id %>
                      </td>
                      <td>
                       <%= //tableData[i].frameD %>
                      </td>
                    </tr>
                <% //} %> -->

            </tbody>
        </table>
        <!-- <h2>Graph</h2> -->
        <!-- <canvas id="myChart" width="400" height="200"></canvas> -->
    
    </main>
    <!-- Main Ends -->
    <!-- Javascript Assets: Add any dependencies here -->
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/Chart.bundle.min.js"></script>
    
    <!-- Write your scripts below -->
    <script>
        // var ctx = document.getElementById("myChart").getContext('2d');
        // var myChart = new Chart(ctx, {
        //     type: 'line',
        //     data: {
        //         labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        //         datasets: [{
        //             label: '# of Votes',
        //             data: [12, 19, 3, 5, 2, 3],
        //             backgroundColor: [
        //                 'rgba(255, 99, 132, 0.2)',
        //                 'rgba(54, 162, 235, 0.2)',
        //                 'rgba(255, 206, 86, 0.2)',
        //                 'rgba(75, 192, 192, 0.2)',
        //                 'rgba(153, 102, 255, 0.2)',
        //                 'rgba(255, 159, 64, 0.2)'
        //             ],
        //             borderColor: [
        //                 'rgba(255,99,132,1)',
        //                 'rgba(54, 162, 235, 1)',
        //                 'rgba(255, 206, 86, 1)',
        //                 'rgba(75, 192, 192, 1)',
        //                 'rgba(153, 102, 255, 1)',
        //                 'rgba(255, 159, 64, 1)'
        //             ],
        //             borderWidth: 1
        //         }]
        //     },
        //     options: {
        //         scales: {
        //             yAxes: [{
        //                 ticks: {
        //                     beginAtZero:true
        //                 }
        //             }]
        //         }
        //     }
        // });
    </script>
    <script src="/assets/socket.io.js"></script>
  
    <script type="text/javascript">
      function spiltAFrame(frameArray){
        // console.log(frameArray);
        var starting_byte = frameArray[0],
          message_type = frameArray[1] + ", " +frameArray[2],
          device_id = frameArray[3] + ", " +frameArray[4],
          length = parseInt(frameArray[5]),
          data = "";
          for (var i = 5; i < 5 + length; i++) {
            data += frameArray[i];
            if(i != (4+length))
              data += ",";
          }
          no_of_satellites = (parseInt(frameArray[5])-11)/17;
          return {
            "starting_byte" : starting_byte, 
            "message_type" : message_type,
            "device_id" : device_id,
            "length" : length,
            "data" : data,
            "no_of_satellites": parseInt(no_of_satellites)
          }
      }

      function splitIntoTwoFramesAndAppend(frameFromDB, id, highlight=false){
        var twoFrames = frameFromDB,
            twoFramesArr = frameFromDB.split(",");
        // we need 6th element
        var firstFrameLength = parseInt(twoFramesArr[5]);
        var firstFrame = "";

        // Loop till the lenth as specifed in firstFrameLength + 2 for checksum. 
        for (var i = 0; i <= firstFrameLength + 5 + 2; i++) {
          if(i != firstFrameLength + 5 + 2)
            firstFrame += twoFramesArr[i] + ", ";
          else
           firstFrame += twoFramesArr[i];
        }
        console.log(firstFrame);
        var frameSplitedData = spiltAFrame(firstFrame.split(","));
        var newRow = "<tr class='"+ (highlight ? "added" : null)+"'>\
          <td>"+id+"-1</td>\
          <td>"+frameSplitedData.starting_byte+"</td>\
          <td>"+frameSplitedData.message_type+"</td>\
          <td>"+frameSplitedData.device_id+"</td>\
          <td>"+frameSplitedData.length+"</td>\
          <td>"+frameSplitedData.data+"</td>\
          <td>"+frameSplitedData.no_of_satellites+"</td>\
        </tr>";
        $("#main-table tbody").prepend(newRow);
        // First Frame appended
        var secondFrame = "";
        for (var i = firstFrameLength + 5 + 3; i <= twoFramesArr.length - 1; i++) {
          if(i != twoFramesArr.length - 1)
            secondFrame += twoFramesArr[i] + ", ";
          else
           secondFrame += twoFramesArr[i];
        }
        console.log(secondFrame);
        frameSplitedData = spiltAFrame(secondFrame.split(","));
        newRow = "<tr class='"+ (highlight ? "added" : null)+"'>\
          <td>"+id+"-2</td>\
          <td>"+frameSplitedData.starting_byte+"</td>\
          <td>"+frameSplitedData.message_type+"</td>\
          <td>"+frameSplitedData.device_id+"</td>\
          <td>"+frameSplitedData.length+"</td>\
          <td>"+frameSplitedData.data+"</td>\
          <td>"+frameSplitedData.no_of_satellites+"</td>\
        </tr>";
        $("#main-table tbody").prepend(newRow);
        // Second frame appened
      }
      // Script to get Data from backend
      $.get("http://localhost:3000/all-data", function(data){
        console.log(data); 
        for (var i = data.results.length -1; i >= 0 ; i--) {
          console.log(data.results[i].frameD);
          splitIntoTwoFramesAndAppend(data.results[i].frameD, data.results[i].id);
        }
      });
    </script>

    <script>
      var socket = io();
      socket.on('data-update', function(msg){
        console.log("data", msg.data);
        splitIntoTwoFramesAndAppend(msg.data.frameD, msg.data.id, true);
        setTimeout(function () {
          $(".added").removeClass("added");
        }, 1000);
      });
    </script>
</body>
</html>